@use '@styles/variables.scss' as *;

.titleBlock {
    padding-top: 50px;
    gap: calcVW(80);

    &::before {
        content: "";
        width: calcVW(5);
        height: calcVW(120);
        background: linear-gradient($color-blue 0%, $color-pink 100%);

        @include vp--992 {
            display: none;
        }
    }

    @include vp--992 {
        gap: 0;
    }
}