@font-face {
	font-style: normal;
	font-weight: 400;
    font-family: 'PT Sans';
    src: url('../assets/fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
	font-style: normal;
	font-weight: 700;
    font-family: 'PT Sans';
    src: url('../assets/fonts/PTSans-Bold.ttf') format('truetype');
}

@font-face {
	font-style: normal;
	font-weight: normal;
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}
