@use '@styles/variables.scss' as *;

.h2 {
    font-weight: bold;
    font-size: calcVW(56);
    line-height: calcVW(65);
    color: $color-black-blue;

    @include vp--680 {
        font-size: calcVW(20, 320);
        line-height: 120%;
    }
}