@use '@styles/variables.scss' as *;

.wrapper {
    position: relative;
    overflow: hidden;
    @include vp--680 {
        overflow: visible;
    }
}

.sliderWrapper {
    position: relative;
    width: 100%;
    min-height: 400px;

    @include vp--680 {
        min-height: calcVW(200, 320);
    }
}

.slider {
    width: 530px;
    height: 530px;
    margin: 0 auto;  
    border: 1px solid rgba($color: $color-black-blue, $alpha: 0.1);
    border-radius: 100%;
    overflow: visible !important;
    position: relative;
    z-index: 10;


    @include vp--680 {
        display: none;
    }
}

.line {
    position: absolute;
    background: rgba($color: $color-black-blue, $alpha: 0.1);
    height: 1px;
    width: 100%;
    top: 50%;
    z-index: -1;

    @include vp--680 {
        display: none;
    }
}