
.btn {
    width: calcVW(50);
    height: calcVW(50);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba($color: #42567A, $alpha: 0.5);
    border-radius: 50%;
    background: none;
    transition: all 0.3s ease-out;


    @include vp--1600 {
        width: 40px;
        height: 40px;
    }

    &:hover {
        transform: scale(1.1);
        background: #FFFFFF;
    }

    &.isDisabled {
        opacity: 0.5;
        transform: none;
        background: none;
    }
}
